# Fodboldanalyse

### importer moduler og dataset

I dette afsnit henter vi datasettet fra SQL-databasen, som er indsamlet på siden encrypted.dk
Datasettet er hentet fra DBU (https://www.dbu.dk/nyheder/2021/maj/26-spillere-klar-til-em-for-danmark/) og er ikke blevet opdateret under EM-slutrunden.

In [2]:
import pandas as pd #<- Pandas Dataframe

spillerdata = pd.read_csv('fodboldspillere.csv', sep = ';') # vores dataset fra SQL-databasen

print(spillerdata.to_string()) # se spillerdata som strenge

    nummer       Fornavn          Efternavn                     Klub        Født  Position  Kampe       Debut
0        1        Kasper         Schmeichel        Leicester City FC  11.05.1986   Målmand     63  02.06.2013
1       22      Frederik             Rønnow            FC Schalke 04  04.08.1992   Målmand      8  31.08.2016
2       16         Jonas              Lössl           FC Midtjylland  01.02.1989  Mållmand      1  29.03.2016
3        6       Andreas        Christensen               Chelsea FC  10.04.1996   Forsvar     40  08.06.2015
4        3        Jannik        Vestergaard           Southampton FC  03.08.1992   Forsvar     21  14.08.2013
5       17  Jens Stryger             Larsen           Udinese Calcio  21.02.1991   Forsvar     34  31.08.2016
6        2       Joachim           Andersen                Fulham FC  31.05.1996   Forsvar      4  15.10.2019
7        5        Joakim              Mæhle                 Atalanta  20.05.1997   Forsvar      8  05.09.2020
8       13       Mathias  "Zanka" Jørgensen             FC København  23.04.1990   Forsvar     34  19.11.2008
9       26       Nicolai           Boilesen             FC København  16.02.1992   Forsvar     18  10.08.2011
10       4         Simon               Kjær                 AC Milan  26.03.1989   Forsvar    105  06.06.2009
11      25        Anders        Christensen                 Malmø FF  08.06.1990  Midtbane      3  18.11.2014
12      10     Christian            Eriksen        Internazionale FC  14.02.1992  Midtbane    106  03.03.2010
13      15     Christian           Nørgaard             Brentford FC  10.03.1994  Midtbane      4  08.09.2020
14      18        Daniel               Wass                 Valencia  31.05.1989  Midtbane     28  09.02.2011
15      24       Mathias             Jensen             Brentford FC  01.01.1996  Midtbane      5  07.10.2020
16      14        Mikkel          Damsgaard                Sampdoria  03.07.2000  Midtbane      2  11.11.2020
17      23   Piere-Emile           Højbjerg     Tottenham Hotspur FC  05.08.1995  Midtbane     40  28.05.2014
18       8        Thomas            Delaney  BV Borrusia 09 Dortmund  03.09.1991  Midtbane     52  05.10.2013
19      21       Andreas          Cornelius                    Parma  16.03.1993  Angriber     27  08.09.2012
20      11  Andreas Skov              Olsen                  Bologna  29.12.1999  Angriber      5  07.10.2020
21      19         Jonas               Wind             FC København  07.02.1999  Angriber      6  07.10.2020
22      12        Kasper            Dolberg                 OGC Nice  06.10.1997  Angriber     24  11.11.2016
23       9        Martin        Braithwaite             FC Barcelona  05.06.1991  Angriber     48  05.06.2013
24       7        Robert               Skov      TSG 1899 Hoffenheim  0000-00-00  Angriber      9  05.06.2013
25      20        Yussuf            Poulsen               RB Leipzig  15.06.1996  Angriber     52  11.10.2014

In [3]:
# Print uden to_string()
spillerdata

,nummer,Fornavn,Efternavn,Klub,Født,Position,Kampe,Debut
0,1,Kasper,Schmeichel,Leicester City FC,11.05.1986,Målmand,63,02.06.2013
1,22,Frederik,Rønnow,FC Schalke 04,04.08.1992,Målmand,8,31.08.2016
2,16,Jonas,Lössl,FC Midtjylland,01.02.1989,Mållmand,1,29.03.2016
3,6,Andreas,Christensen,Chelsea FC,10.04.1996,Forsvar,40,08.06.2015
4,3,Jannik,Vestergaard,Southampton FC,03.08.1992,Forsvar,21,14.08.2013
5,17,Jens Stryger,Larsen,Udinese Calcio,21.02.1991,Forsvar,34,31.08.2016
6,2,Joachim,Andersen,Fulham FC,31.05.1996,Forsvar,4,15.10.2019
7,5,Joakim,Mæhle,Atalanta,20.05.1997,Forsvar,8,05.09.2020
8,13,Mathias,"""Zanka"" Jørgensen",FC København,23.04.1990,Forsvar,34,19.11.2008
9,26,Nicolai,Boilesen,FC København,16.02.1992,Forsvar,18,10.08.2011
10,4,Simon,Kjær,AC Milan,26.03.1989,Forsvar,105,06.06.2009
11,25,Anders,Christensen,Malmø FF,08.06.1990,Midtbane,3,18.11.2014
12,10,Christian,Eriksen,Internazionale FC,14.02.1992,Midtbane,106,03.03.2010
13,15,Christian,Nørgaard,Brentford FC,10.03.1994,Midtbane,4,08.09.2020
14,18,Daniel,Wass,Valencia,31.05.1989,Midtbane,28,09.02.2011
15,24,Mathias,Jensen,Brentford FC,01.01.1996,Midtbane,5,07.10.2020
16,14,Mikkel,Damsgaard,Sampdoria,03.07.2000,Midtbane,2,11.11.2020
17,23,Piere-Emile,Højbjerg,Tottenham Hotspur FC,05.08.1995,Midtbane,40,28.05.2014
18,8,Thomas,Delaney,BV Borrusia 09 Dortmund,03.09.1991,Midtbane,52,05.10.2013
19,21,Andreas,Cornelius,Parma,16.03.1993,Angriber,27,08.09.2012
20,11,Andreas Skov,Olsen,Bologna,29.12.1999,Angriber,5,07.10.2020
21,19,Jonas,Wind,FC København,07.02.1999,Angriber,6,07.10.2020
22,12,Kasper,Dolberg,OGC Nice,06.10.1997,Angriber,24,11.11.2016
23,9,Martin,Braithwaite,FC Barcelona,05.06.1991,Angriber,48,05.06.2013
24,7,Robert,Skov,TSG 1899 Hoffenheim,0000-00-00,Angriber,9,05.06.2013
25,20,Yussuf,Poulsen,RB Leipzig,15.06.1996,Angriber,52,11.10.2014

In [4]:
# Hent de første 5 spillere i truppen med .head()
spillerdata.head()

,nummer,Fornavn,Efternavn,Klub,Født,Position,Kampe,Debut
0,1,Kasper,Schmeichel,Leicester City FC,11.05.1986,Målmand,63,02.06.2013
1,22,Frederik,Rønnow,FC Schalke 04,04.08.1992,Målmand,8,31.08.2016
2,16,Jonas,Lössl,FC Midtjylland,01.02.1989,Mållmand,1,29.03.2016
3,6,Andreas,Christensen,Chelsea FC,10.04.1996,Forsvar,40,08.06.2015
4,3,Jannik,Vestergaard,Southampton FC,03.08.1992,Forsvar,21,14.08.2013

In [6]:
# Hent de sidste 5 spillere i truppen med .tail()
spillerdata.tail()

,nummer,Fornavn,Efternavn,Klub,Født,Position,Kampe,Debut
21,19,Jonas,Wind,FC København,07.02.1999,Angriber,6,07.10.2020
22,12,Kasper,Dolberg,OGC Nice,06.10.1997,Angriber,24,11.11.2016
23,9,Martin,Braithwaite,FC Barcelona,05.06.1991,Angriber,48,05.06.2013
24,7,Robert,Skov,TSG 1899 Hoffenheim,0000-00-00,Angriber,9,05.06.2013
25,20,Yussuf,Poulsen,RB Leipzig,15.06.1996,Angriber,52,11.10.2014

In [11]:
# Hent en værdi af spillere midt i truppen med data-slicing
spillerdata[3:8]

,nummer,Fornavn,Efternavn,Klub,Født,Position,Kampe,Debut
3,6,Andreas,Christensen,Chelsea FC,10.04.1996,Forsvar,40,08.06.2015
4,3,Jannik,Vestergaard,Southampton FC,03.08.1992,Forsvar,21,14.08.2013
5,17,Jens Stryger,Larsen,Udinese Calcio,21.02.1991,Forsvar,34,31.08.2016
6,2,Joachim,Andersen,Fulham FC,31.05.1996,Forsvar,4,15.10.2019
7,5,Joakim,Mæhle,Atalanta,20.05.1997,Forsvar,8,05.09.2020

In [7]:
# Find maksimum-værdier af spillerdata
spillerdata.max(axis = 0)

nummer               26
Fornavn          Yussuf
Efternavn          Wind
Klub           Valencia
Født         31.05.1996
Position        Målmand
Kampe               106
Debut        31.08.2016
dtype: object

In [34]:
# Find minimum-værdier af spillerdataen
# Vi kan se at en er født 0000-00-00. Den bedste praksis er at ændre denne data i CSV-filen og IKKE i Jupyter
spillerdata.min(axis = 0)

nummer                       1
Fornavn                 Anders
Efternavn    "Zanka" Jørgensen
Klub                  AC Milan
Født                0000-00-00
Position              Angriber
Kampe                        1
Debut               02.06.2013
dtype: object

## Antal kampe
I dette afsnit ser vi på analyse af, hvem der har spillet flest kampe

In [14]:
# Variabel som indeholder spillernes kampe
kampe = spillerdata["Kampe"]

In [15]:
# minimum antal kampe spillet af en spiller
kampe.min()

1

In [16]:
# maximum
kampe.max()

106

In [36]:
# gennemsnit antal kampe spillet
round(kampe.mean()) # round runder tallet

29

In [21]:
# Kampe i hele truppen
spillerdata['Kampe']

0      63
1       8
2       1
3      40
4      21
5      34
6       4
7       8
8      34
9      18
10    105
11      3
12    106
13      4
14     28
15      5
16      2
17     40
18     52
19     27
20      5
21      6
22     24
23     48
24      9
25     52
Name: Kampe, dtype: int64

In [22]:
# her ser udelukker vi alle kolloner, bortset fra efternavn og kampe
spillerdata[['Efternavn', 'Kampe']]

            Efternavn  Kampe
0          Schmeichel     63
1              Rønnow      8
2               Lössl      1
3         Christensen     40
4         Vestergaard     21
5              Larsen     34
6            Andersen      4
7               Mæhle      8
8   "Zanka" Jørgensen     34
9            Boilesen     18
10               Kjær    105
11        Christensen      3
12            Eriksen    106
13           Nørgaard      4
14               Wass     28
15             Jensen      5
16          Damsgaard      2
17           Højbjerg     40
18            Delaney     52
19          Cornelius     27
20              Olsen      5
21               Wind      6
22            Dolberg     24
23        Braithwaite     48
24               Skov      9
25            Poulsen     52

In [23]:
# Spillere med over 100 kampe
spillerdata[spillerdata['Kampe'] > 100]

,nummer,Fornavn,Efternavn,Klub,Født,Position,Kampe,Debut
10,4,Simon,Kjær,AC Milan,26.03.1989,Forsvar,105,06.06.2009
12,10,Christian,Eriksen,Internazionale FC,14.02.1992,Midtbane,106,03.03.2010

## Opsummering af spillere med x antal kamp

In [49]:
spillerdata.sort_values(by = "Kampe", ascending = False)
# Lidt forklaring på inplace: 
# https://stackoverflow.com/questions/45570984/in-pandas-is-inplace-true-considered-harmful-or-not
spillerdata

,nummer,Fornavn,Efternavn,Klub,Født,Position,Kampe,Debut
12,10,Christian,Eriksen,Internazionale FC,14.02.1992,Midtbane,106,03.03.2010
10,4,Simon,Kjær,AC Milan,26.03.1989,Forsvar,105,06.06.2009
0,1,Kasper,Schmeichel,Leicester City FC,11.05.1986,Målmand,63,02.06.2013
18,8,Thomas,Delaney,BV Borrusia 09 Dortmund,03.09.1991,Midtbane,52,05.10.2013
25,20,Yussuf,Poulsen,RB Leipzig,15.06.1996,Angriber,52,11.10.2014
23,9,Martin,Braithwaite,FC Barcelona,05.06.1991,Angriber,48,05.06.2013
3,6,Andreas,Christensen,Chelsea FC,10.04.1996,Forsvar,40,08.06.2015
17,23,Piere-Emile,Højbjerg,Tottenham Hotspur FC,05.08.1995,Midtbane,40,28.05.2014
5,17,Jens Stryger,Larsen,Udinese Calcio,21.02.1991,Forsvar,34,31.08.2016
8,13,Mathias,"""Zanka"" Jørgensen",FC København,23.04.1990,Forsvar,34,19.11.2008
14,18,Daniel,Wass,Valencia,31.05.1989,Midtbane,28,09.02.2011
19,21,Andreas,Cornelius,Parma,16.03.1993,Angriber,27,08.09.2012
22,12,Kasper,Dolberg,OGC Nice,06.10.1997,Angriber,24,11.11.2016
4,3,Jannik,Vestergaard,Southampton FC,03.08.1992,Forsvar,21,14.08.2013
9,26,Nicolai,Boilesen,FC København,16.02.1992,Forsvar,18,10.08.2011
24,7,Robert,Skov,TSG 1899 Hoffenheim,0000-00-00,Angriber,9,05.06.2013
7,5,Joakim,Mæhle,Atalanta,20.05.1997,Forsvar,8,05.09.2020
1,22,Frederik,Rønnow,FC Schalke 04,04.08.1992,Målmand,8,31.08.2016
21,19,Jonas,Wind,FC København,07.02.1999,Angriber,6,07.10.2020
20,11,Andreas Skov,Olsen,Bologna,29.12.1999,Angriber,5,07.10.2020
15,24,Mathias,Jensen,Brentford FC,01.01.1996,Midtbane,5,07.10.2020
6,2,Joachim,Andersen,Fulham FC,31.05.1996,Forsvar,4,15.10.2019
13,15,Christian,Nørgaard,Brentford FC,10.03.1994,Midtbane,4,08.09.2020
11,25,Anders,Christensen,Malmø FF,08.06.1990,Midtbane,3,18.11.2014
16,14,Mikkel,Damsgaard,Sampdoria,03.07.2000,Midtbane,2,11.11.2020
2,16,Jonas,Lössl,FC Midtjylland,01.02.1989,Mållmand,1,29.03.2016

## Klubber med flest kampe

In [39]:
gruppe_max = spillerdata[["Klub", "Kampe"]].groupby("Klub").sum()
gruppe_max

                         Kampe
Klub
AC Milan                   105
Atalanta                     8
BV Borrusia 09 Dortmund     52
Bologna                      5
Brentford FC                 9
Chelsea FC                  40
FC Barcelona                48
FC København                58
FC Midtjylland               1
FC Schalke 04                8
Fulham FC                    4
Internazionale FC          106
Leicester City FC           63
Malmø FF                     3
OGC Nice                    24
Parma                       27
RB Leipzig                  52
Sampdoria                    2
Southampton FC              21
TSG 1899 Hoffenheim          9
Tottenham Hotspur FC        40
Udinese Calcio              34
Valencia                    28

In [38]:
# Gennemsnit af kampe
gruppe_gnms = spillerdata[["Klub", "Kampe"]].groupby("Klub").mean()
gruppe_gnms

                              Kampe
Klub
AC Milan                 105.000000
Atalanta                   8.000000
BV Borrusia 09 Dortmund   52.000000
Bologna                    5.000000
Brentford FC               4.500000
Chelsea FC                40.000000
FC Barcelona              48.000000
FC København              19.333333
FC Midtjylland             1.000000
FC Schalke 04              8.000000
Fulham FC                  4.000000
Internazionale FC        106.000000
Leicester City FC         63.000000
Malmø FF                   3.000000
OGC Nice                  24.000000
Parma                     27.000000
RB Leipzig                52.000000
Sampdoria                  2.000000
Southampton FC            21.000000
TSG 1899 Hoffenheim        9.000000
Tottenham Hotspur FC      40.000000
Udinese Calcio            34.000000
Valencia                  28.000000

In [42]:
dir(print)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [43]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [48]:
help(spillerdata.sort_values)

Help on method sort_values in module pandas.core.frame:

sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key: 'ValueKeyFunc' = None) method of pandas.core.frame.DataFrame instance
    Sort by the values along either axis.

    Parameters
    ----------
            by : str or list of str
                Name or list of names to sort by.

                - if `axis` is 0 or `'index'` then `by` may contain index
                  levels and/or column labels.
                - if `axis` is 1 or `'columns'` then `by` may contain column
                  levels and/or index labels.
    axis : {0 or 'index', 1 or 'columns'}, default 0
         Axis to be sorted.
    ascending : bool or list of bool, default True
         Sort ascending vs. descending. Specify list for multiple sort
         orders.  If this is a list of bools, must match the length of
         the by.
    inplace : bool, default False
         If True, perform operation in-place.
    kind : {'quicksort', 'mergesort', 'heapsort'}, default 'quicksort'
         Choice of sorting algorithm. See also ndarray.np.sort for more
         information.  `mergesort` is the only stable algorithm. For
         DataFrames, this option is only applied when sorting on a single
         column or label.
    na_position : {'first', 'last'}, default 'last'
         Puts NaNs at the beginning if `first`; `last` puts NaNs at the
         end.
    ignore_index : bool, default False
         If True, the resulting axis will be labeled 0, 1, …, n - 1.

         .. versionadded:: 1.0.0

    key : callable, optional
        Apply the key function to the values
        before sorting. This is similar to the `key` argument in the
        builtin :meth:`sorted` function, with the notable difference that
        this `key` function should be *vectorized*. It should expect a
        ``Series`` and return a Series with the same shape as the input.
        It will be applied to each column in `by` independently.

        .. versionadded:: 1.1.0

    Returns
    -------
    DataFrame or None
        DataFrame with sorted values or None if ``inplace=True``.

    See Also
    --------
    DataFrame.sort_index : Sort a DataFrame by the index.
    Series.sort_values : Similar method for a Series.

    Examples
    --------
    >>> df = pd.DataFrame({
    ...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    ...     'col2': [2, 1, 9, 8, 7, 4],
    ...     'col3': [0, 1, 9, 4, 2, 3],
    ...     'col4': ['a', 'B', 'c', 'D', 'e', 'F']
    ... })
    >>> df
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Sort by col1

    >>> df.sort_values(by=['col1'])
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort by multiple columns

    >>> df.sort_values(by=['col1', 'col2'])
      col1  col2  col3 col4
    1    A     1     1    B
    0    A     2     0    a
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort Descending

    >>> df.sort_values(by='col1', ascending=False)
      col1  col2  col3 col4
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B
    3  NaN     8     4    D

    Putting NAs first

    >>> df.sort_values(by='col1', ascending=False, na_position='first')
      col1  col2  col3 col4
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B

    Sorting with a key function

    >>> df.sort_values(by='col4', key=lambda col: col.str.lower())
       col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Natural sort with the key argument,
    using the `natsort <https://github.com/SethMMorton/natsort>` package.

    >>> df = pd.DataFrame({
    ...    "time": ['0hr', '128hr', '72hr', '48hr', '96hr'],
    ...    "value": [10, 20, 30, 40, 50]
    ... })
    >>> df
        time  value
    0    0hr     10
    1  128hr     20
    2   72hr     30
    3   48hr     40
    4   96hr     50
    >>> from natsort import index_natsorted
    >>> df.sort_values(
    ...    by="time",
    ...    key=lambda x: np.argsort(index_natsorted(df["time"]))
    ... )
        time  value
    0    0hr     10
    3   48hr     40
    2   72hr     30
    4   96hr     50
    1  128hr     20

## Supplerende litteratur og sider, som vi talte om

Interessant bog med eksempler på dataanalyse:
Spiegelhalter, David: "The Art of Statistics, learning from Data" (A Pelican Book: ISBN: 978-0-241-25876-7)